{% extends "base.html" %}

{% if form.errors %}
<div class="hiba">
<p>{{ form.errors }}</p>
</div>
{% endif %}

{% block content %}

<form method="post" action=".">
{% csrf_token %}
    <table id="timetable">
        <tr>
            <td class="first_col"><label for="id_old_password">Régi jelszó:</label></td>
            <td><input type="password" name="old_password" id="id_old_password" /></td>
        </tr>
        <tr>
            <td class="first_col"><label for="id_new_password1">Új jelszó:</label></td>
            <td><input type="password" name="new_password1" id="id_new_password1" /></td>
        </tr>
        <tr>
            <td class="first_col"><label for="id_new_password2">Új jelszó megerősítése:</label></td>
            <td><input type="password" name="new_password2" id="id_new_password2" /></td>
        </tr>
    </table>  
  {# {{ form.as_p }} #}
    <p>
  <input type="submit" value="Módosít" />
  <input type="button" onclick="parent.location='/start/'" value="Mégse" />
   </p>
  
</form>
{% endblock %}