{% extends "base.html" %}

{% block content %}
<p>Sikeresen regisztráltál. A fiók aktiválásához szükséges információkat a NEPTUN@nk.hszk.bme.hu-s e-mailcímedre küldtük el.</p>
<p>További információk: <a href=”http://www.hszk.bme.hu/neptkodlevel.html”>http://www.hszk.bme.hu/neptkodlevel.html</a> </p>
<p>Amennyiben korábban nem állítottál be továbbítási címet a leveledet megtekintheted itt: <a href=”https://webmail.hszk.bme.hu/src/login.php”>https://webmail.hszk.bme.hu/src/login.php</a>
{% endblock %}