{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% if form.errors %}
<div class="hiba">
<p>{{ form.errors }}</p>
</div>
{% endif %}

<h1>Regisztráció</h1>

<div id="task">
<p>Ahhoz, hogy a kurzust választhass, először regisztrálnod kell.</p>
</div>

<form action="." method="post">{% csrf_token %}

<table id="timetable">
<tr>
    <td class="first_col">Neptun kód</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td class="first_col">A használni kívánt jelszó</td>
    <td>{{ form.password1 }}</td>
</tr>
<tr>
    <td class="first_col">A használni kívánt jelszó<br /> még egyszer</td>
    <td>{{ form.password2 }}</td>
</tr>
</table>
<p><input type="submit" value="Regisztrálok" /></p>
</form>

{% endblock %}