{% extends "base.html" %}

{% block content %}
<div id="task">
<h1>Sikeresen regisztráltál!</h1>
<p> A fiók aktiválásához szükséges információkat a NEPTUN@nk.hszk.bme.hu-s e-mailcímedre küldtük el.</p>
<p>További információk: <a href="http://www.hszk.bme.hu/neptkodlevel.html">http://www.hszk.bme.hu/neptkodlevel.html</a> </p>
<p>Amennyiben korábban nem állítottál be továbbítási címet a leveledet megtekintheted itt: {{ "https://webmail.hszk.bme.hu/src/login.php"|urlize }} (Ha nem emlékszel az ural2-es jelszavadra, amely a bejelentkezéshez szükséges, akkor a {{ "https://accadmin.hszk.bme.hu/index.php"|urlize }} címen tudod megváltoztatni.) Átirányítás esetén néhány percig eltarhat, amíg a levél megérkezik a postafiókodba.
</div>
{% endblock %}
