{% extends "base.html" %}
{% load url from future %}

{% block title %}Kurzusválasztás - jelentkezes.tnt.bme.hu{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <script type="text/javascript">
        window.location="/start"
    </script>
{% else %}

<div id="badge_contener">
    <div class="task" style="width: 600px; margin: 10px auto;">
        <h1>Kurzusválasztás</h1>
        {# <h3>Figyelem!</h3> #}
        {# <p>Az oldal használata előtt olvassátok el a következő tájékoztatót: <a href="{{ STATIC_URL }}segedlet.pdf">segedlet.pdf</a></p> #}
        {# <p>A regisztráció szünetel. Türelmeteket kérjük!</p> #}
        {# <p>A rendszerben akadt egy kisebb hiba.</p> #}
        <h3 style="color: red;">Jelentkezési határidő: 2012.02.05. 23:59</h3>
        <h3>Kérek mindenkit, hogy regisztráció előtt</h3>
        <p>a neptunban a "Saját adatok - Elérhetőségek - E-mail címek" résznél ellenőrizzék, hogy állítottak-e már be "Hivatalos" címkével ellátott e-mailcímet. Amennyiben igen, akkor bátran regisztráljanak, ha viszont nem, akkor tegyék meg, és várjanak egy napot, amíg a rendszerben frissül ez a cím. (Amennyiben ma hajnal 02:00-ig bekerül az új cím a rendszerbe, akkor kb. holnap 06:00 után már használható.)</h3> 
        <p>Azon hallgatók, akik már regisztráltak, de nem tudnak belépni, kérem várjanak türelemmel. A nap folyamán kapni fognak egy e-mailt a neptunban beállított (Saját adatok - Elérhetőségek - E-mail címek - "Hivatalos" címkével ellátott) címükre.</p>
    </div>
    <a class="badge" href="{% url 'django.contrib.auth.views.login' %}">
        <div id="login_badge">
            <div class="badge_image">
                <img src="{{ MEDIA_URL }}/images/next.png" />
            </div>
            <p>Bejelentkezés</p>
        </div>
    </a>
    <a class="badge" href="{% if regisztracio %} /accounts/register {% endif %}">
        <div id="registration_badge">
            <div class="badge_image">
                <img src="{{ MEDIA_URL }}/images/reg.png" />
            </div>
            <p>Regisztráció</p>
        </div>
    </a>
</div>
{% endif %}


{% endblock %}