{% extends "base.html" %}
{% load url from future %}

{% block title %}Kurzusválasztás - jelentkezes.tnt.bme.hu{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <script type="text/javascript">
        window.location="/start"
    </script>
{% else %}

<div id="badge_contener">
    <h1>Kurzusválasztás</h1>
    <a class="badge" href="{% url 'django.contrib.auth.views.login' %}">
        <div id="login_badge">
            <div class="badge_image">
                <img src="{{ MEDIA_URL }}/images/next.png" />
            </div>
            <p>Bejelentkezés</p>
        </div>
    </a>
    <a class="badge" href="{% if regisztracio %} /accounts/register {% endif %}">
        <div id="registration_badge">
            <div class="badge_image">
                <img src="{{ MEDIA_URL }}/images/reg.png" />
            </div>
            <p>Regisztráció</p>
        </div>
    </a>
</div>
{% endif %}


{% endblock %}