{% extends "base.html" %}
{% load url from future %}

{% block title %}Sportág választás - jelentkezes.tnt.bme.hu{% endblock %}

{% block content %}

<h1>Sportág választás</h1>

{% if error %}
<div class="hiba">
<p>{{ error }}</p>
</div>
{% endif %}

<div class="task">
    <p>Válaszd ki a Neptunban felvett tárgyat!</p>
</div>

<form action="." method="post">{% csrf_token %}
<table id="targy_table">
<tr>
    <td>Neptunban felvett tárgy</td>
    <td>
    <select name="targyak">
        {% if aktualis_targy == None %}
        <option value="">Válasz egy tárgyat!</option>
        {% endif %}
        {% for targy in targyak %}
            {% if aktualis_targy.kod == targy.kod %}
            <option value="{{ targy.kod }}" selected="selected">{{ targy }}</option>
            {% else %}
            <option value="{{ targy.kod }}">{{ targy }}</option>
            {% endif %}
        {% endfor %}
    </select>
    </td>
</tr>
</table>

<div class="task">
    <p>Válassz ki egy számodra szimpatikus időponthoz rendelt sportágat!</p>
</div>

<table id="timetable">
<tr>
<th>Sáv</th>
<th>Hétfő</th>
<th>Kedd</th>
<th>Szerda</th>
<th>Csütörtök</th>
<th>Péntek</th>
</tr>
<tr>
    <td class="first_col">07:00-08:00</td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'H' %}
                {% if kurzus.idopont_sav == '07' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'K' %}
                {% if kurzus.idopont_sav == '07' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'S' %}
                {% if kurzus.idopont_sav == '07' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'C' %}
                {% if kurzus.idopont_sav == '07' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'P' %}
                {% if kurzus.idopont_sav == '07' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
</tr>
<tr>
    <td class="first_col">08:00-10:00</td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'H' %}
                {% if kurzus.idopont_sav == '08' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'K' %}
                {% if kurzus.idopont_sav == '08' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'S' %}
                {% if kurzus.idopont_sav == '08' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'C' %}
                {% if kurzus.idopont_sav == '08' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'P' %}
                {% if kurzus.idopont_sav == '08' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
</tr>
<tr>
    <td class="first_col">10:00-12:00</td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'H' %}
                {% if kurzus.idopont_sav == '10' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'K' %}
                {% if kurzus.idopont_sav == '10' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'S' %}
                {% if kurzus.idopont_sav == '10' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'C' %}
                {% if kurzus.idopont_sav == '10' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'P' %}
                {% if kurzus.idopont_sav == '10' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
</tr>
<tr>
    <td class="first_col">12:00-14:00</td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'H' %}
                {% if kurzus.idopont_sav == '12' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'K' %}
                {% if kurzus.idopont_sav == '12' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'S' %}
                {% if kurzus.idopont_sav == '12' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'C' %}
                {% if kurzus.idopont_sav == '12' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'P' %}
                {% if kurzus.idopont_sav == '12' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
</tr>
<tr>
    <td class="first_col">14:00-15:30</td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'H' %}
                {% if kurzus.idopont_sav == '14' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'K' %}
                {% if kurzus.idopont_sav == '14' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'S' %}
                {% if kurzus.idopont_sav == '14' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'C' %}
                {% if kurzus.idopont_sav == '14' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'P' %}
                {% if kurzus.idopont_sav == '14' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" {% if kurzus.hallgatok == kurzus.ferohely %} disabled="disabled" {% endif %} value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
</tr>
</table>

<input type="submit" value="Ment" />
<input type="button" onclick="parent.location='/start/'" value="Mégse" />
</form>

{% endblock %}