{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% if error %}
{{ error }}
{% endif %}

<form action="." method="post">{% csrf_token %}

<table>
<tr>
    <td>Neptunban felvett tárgy</td>
    <td>
    <select name="targyak">
        {% if aktualis_targy == None %}
        <option value="">Válasz egy tárgyat!</option>
        {% endif %}
        {% for targy in targyak %}
            {% if aktualis_targy.kod == targy.kod %}
            <option value="{{ targy.kod }}" selected="selected">{{ targy }}</option>
            {% else %}
            <option value="{{ targy.kod }}">{{ targy }}</option>
            {% endif %}
        {% endfor %}
</select>
    
    </td>
</tr>
</table>

<table>
<tr>
<td>Sáv</td>
<td>Hétfő</td>
<td>Kedd</td>
<td>Szerda</td>
<td>Csütörtök</td>
<td>Péntek</td>
</tr>


<tr>
    <td>07:00-08:00</td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'H' %}
                {% if kurzus.idopont_sav == '07' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'K' %}
                {% if kurzus.idopont_sav == '07' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'S' %}
                {% if kurzus.idopont_sav == '07' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'C' %}
                {% if kurzus.idopont_sav == '07' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'P' %}
                {% if kurzus.idopont_sav == '07' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
</tr>
<tr>
    <td>08:00-10:00</td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'H' %}
                {% if kurzus.idopont_sav == '08' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'K' %}
                {% if kurzus.idopont_sav == '08' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'S' %}
                {% if kurzus.idopont_sav == '08' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'C' %}
                {% if kurzus.idopont_sav == '08' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'P' %}
                {% if kurzus.idopont_sav == '08' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
</tr>
<tr>
    <td>10:00-12:00</td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'H' %}
                {% if kurzus.idopont_sav == '10' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'K' %}
                {% if kurzus.idopont_sav == '10' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'S' %}
                {% if kurzus.idopont_sav == '10' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'C' %}
                {% if kurzus.idopont_sav == '10' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'P' %}
                {% if kurzus.idopont_sav == '10' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
</tr>
<tr>
    <td>12:00-14:00</td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'H' %}
                {% if kurzus.idopont_sav == '12' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'K' %}
                {% if kurzus.idopont_sav == '12' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'S' %}
                {% if kurzus.idopont_sav == '12' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'C' %}
                {% if kurzus.idopont_sav == '12' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'P' %}
                {% if kurzus.idopont_sav == '12' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
</tr>
<tr>
    <td>14:00-15:30</td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'H' %}
                {% if kurzus.idopont_sav == '14' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'K' %}
                {% if kurzus.idopont_sav == '14' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'S' %}
                {% if kurzus.idopont_sav == '14' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'C' %}
                {% if kurzus.idopont_sav == '14' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for kurzus in kurzusok %}
            {% if kurzus.idopont_nap == 'P' %}
                {% if kurzus.idopont_sav == '14' %}
                    {% if aktualis_kurzus.id == kurzus.id %}
                        <input type="radio" name="kurzus_radio" checked="checked" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% else %}
                        <input type="radio" name="kurzus_radio" value="{{ kurzus.id }}">{{ kurzus.nev }} ({{ kurzus.hallgatok }}/{{ kurzus.ferohely }})<br/>
                    {% endif %}                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
</tr>
</table>

<input type="submit" value="Ment" />
<input type="button" onclick="parent.location='/start/'" value="Mégse" />
</form>

{% endblock %}