{% extends "base.html" %}
{% load url from future %}

{% block content %}

{{ user.first_name }}
{{ user.last_name }}

{% if targy %}
{{ targy }}
{% else %}
Nincs még tárgy megadva
{% endif %}

{% if kurzus %}
{{ kurzus.nev }}
{{ kurzus.get_idopont_nap_display }}
{{ kurzus.get_idopont_sav_display }}
{% else %}
Nincs még kurzus felvéve
{% endif %}

<a href="/kurzusvalasztas/">Tárgy, kurzus felvétele/módosítása</a>

<a href="/username/">Név módosítása</a>

<a href="/accounts/password/change/">Jelszó cseréje</a>

<form method="post" action="{% url 'django.contrib.auth.views.logout' %}">
{% csrf_token %}
<input type="submit" value="Kijelentkezés" />

</form>

{% endblock %}