{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% if error %}
<div class="hiba">
<p>{{ error }}</p>
</div>
{% endif %}

<form action="." method="post">{% csrf_token %}

<table>
<tr>
    <td>Vezetéknév</td>
    <td><input type="text" name="user_last_name" value="{{ user_last_name }}"/></td>
</tr>
<tr>
    <td>Keresztnév</td>
    <td><input type="text" name="user_first_name" value="{{ user_first_name }}"/></td>
</tr>
</table>

<input type="submit" value="Ment" />
<input type="button" onclick="parent.location='/start/'" value="Mégse" />
</form>

{% endblock %}